h1{
  color: green;
  font-size: 27em;
  text-align: center;

}
body {
  background-color:maroon;
}
p {
  color: white;
  font-size: 1em;
  text-align: center;
}
form.game-input{
  position: absolute;
}
